<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated sp -->
      <package
            uri="platform:/plugin/TDT4250.sp.model/model/sp.ecore"
            class="TDT4250.sp.SpPackage"
            genModel="model/sp.genmodel"/>
   </extension>

</plugin>
